/* #010409
#0D1117
#181b1e
#21262D */

body{
    background-color: #010409;
    margin: 0;
    padding: 0;
    zoom: 120%;
}

.main{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px red solid; */
}

.startpage{
    background-image: url('bg.png');
    background-size: cover;
    margin: auto;
    border: 2px solid wheat;
    width: 800px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

td{
    border: 2px solid wheat;
}

.startpage button, .selectlevel, a{
    margin:0.5rem auto;
    width: 50%;
}

.input-area,.text-area{
    margin: auto;
    width: 50%;
    height: 200px;
    border: 2px solid wheat;
    display: flex;
    justify-content: space-evenly;
}
.input-area button{
    width: 18%;
}

canvas{
    margin: auto;
    border: 2px wheat solid;
}